<app-header></app-header>

<section class="details-container-all">

  <div class="container-details">
    <img class="img" [attr.src]="recipe.imageURL">
    <div class="title-details">{{recipe.title}}</div>
    <p>Продукти:</p>
    <div class="ingredients-details">
      <pre>{{recipe.ingredients}}</pre>
    </div>
    <p class="prep-title">Приготвяне:</p>
    <div class="prep-details">{{recipe.preparation}}</div>
    <button type="button" class="cancelbtn" routerLink="/">Назад</button>
  </div>

</section>
<app-footer></app-footer>
