<app-header></app-header>
<section class="container-image">
  <img class="back-image" src="../../assets/back-2.jpg" alt="background My recipes" />
  <div class="text-back">
    <h1 class="title-back">Защото обичаме храната...</h1>
    <p class="font-back">...храната лекува всички скърби, укрепва организма и развеселява сърцето и нищо не е
      по-добре за човек, който плачеше много и се чувства като сирак, колко е добре да се нахрани. - Мика Валтари
    </p>
    <p class="font-back">- Аз винаги съм гладна, когато ни хранят толкова вкусно, - отговори Роза. - Алис Мънро</p>
    <p class="font-back">- Брей, каква машина е човекът! Туряш й хляб, вино, риба, репички, и излизат въздишки, смях
      и сънища. Фабрика! - Никос Казандзакис</p>
  </div>
</section>
<app-footer></app-footer>
