#footer {
  border-top: 0.5rem solid  rgb(236, 126, 75);
  background-color: rgb(64, 34, 92);
  width: 100%;
  height: 3rem;
  position: relative;
}
.footer-text {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 0.7rem;
  color: rgb(255, 255, 255);
  margin: 0;
  position: absolute;
  top: 50%;
  left: 45%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
