#footer {
  border-top: 0.1rem solid  orangered;
  background-color: rgb(253, 209, 173);
  width: 100%;
  height: 3rem;
  position: relative;
}
.footer-text {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 0.7rem;
  color: orangered;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 45%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
