<header id="header">
  <a class="nav-logo" href="/home/"><img class="logo-svg" src="../../../assets/my-recipes.svg"
      alt="logo My recipes" /></a>
  <ul class="navbar">
    <!-- {{#if isLoggedIn}} -->
    <li class="nav-item">
      <a class="nav-link" href="">My Recipes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/user/logout">Logout as </a>
    </li>
    <!-- {{else}} -->
    <li class="nav-item">
      <a class="nav-link" href="/about/">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/user/login">Login</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/user/register">Register</a>
    </li>
    <!-- {{/if}} -->
  </ul>
</header>
