<header id="header">
  <a class="nav-logo" routerLink="/home/" ><img class="logo-svg" src="../../../assets/my-recipes.svg"
      alt="logo My recipes" /></a>
  <ul class="navbar">
    <!-- {{#if isLoggedIn}} -->
    <li *ngIf="isLogged"  class="nav-item">
      <a class="nav-link" routerLink="">My Recipes</a>
    </li>
    <li *ngIf="isLogged"  class="nav-item">
      <a class="nav-link" routerLink="/recipes/new">New Recipe</a>
    </li>
    <li *ngIf="isLogged" class="nav-item">
      <a class="nav-link" href="/" (click)="logoutHandler()">Logout</a>
    </li>
    <!-- {{else}} -->
    <li class="nav-item">
      <a *ngIf="!isLogged" class="nav-link" routerLink="/about/">About</a>
    </li>
    <li class="nav-item">
      <a *ngIf="!isLogged" class="nav-link" routerLink="/login" >Login</a>
    </li>
    <li class="nav-item">
      <a *ngIf="!isLogged" class="nav-link" routerLink="/register" >Register</a>
    </li>
    <!-- {{/if}} -->
  </ul>
</header>
