<header id="header">
  <a class="nav-logo" routerLink="/home/" ><img class="logo-svg" src="../../../assets/my-recipes.svg"
      alt="logo My recipes" /></a>
  <ul class="navbar">
    <!-- {{#if isLoggedIn}} -->
    <li *ngIf="isLogged"  class="nav-item">
      <a class="nav-link" routerLink="/recipes">Моите рецепти</a>
    </li>
    <li *ngIf="isLogged"  class="nav-item">
      <a class="nav-link" routerLink="/recipes/new">Нова Рецепта</a>
    </li>
    <li *ngIf="isLogged" class="nav-item">
      <a class="nav-link" href="/" (click)="logoutHandler()">Отписване</a>
    </li>
    <!-- {{else}} -->
    <li class="nav-item">
      <a *ngIf="!isLogged" class="nav-link" routerLink="/about/">За сайта</a>
    </li>
    <li class="nav-item">
      <a *ngIf="!isLogged" class="nav-link" routerLink="/login" >Вписване</a>
    </li>
    <li class="nav-item">
      <a *ngIf="!isLogged" class="nav-link" routerLink="/register" >Регистриране</a>
    </li>
    <!-- {{/if}} -->
  </ul>
</header>
