
#header {
  background-color: rgb(253, 209, 173);
  width: 100%;
  height: 4rem;
  position: relative;
  border-bottom: 0.2rem solid orangered;
}

.navbar {
  margin: 0;
  position: absolute;
  top: 50%;
  right: 5%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.nav-item {
  margin-left: 2rem;
  display: block;
  float: right;
}
.nav-link {
  color: orangered;
  text-decoration: none;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1.1em;
}

.logo-svg {
  color: white;
  text-decoration: none;
  margin-top: 50%;
  width: 6rem;
  height: 3rem;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 5%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}


/* login form */
.login-form {
  border: 3px solid #f1f1f1;
  margin: 1rem auto;
  width: 50%;
  background-color: white;
  padding: 1rem 0;
}

/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
.submit-btn {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
  margin: 0.5rem 0 0.5rem 0;
}

/* Avatar image */
img.avatar {
  width: 20%;
  border-radius: 50%;
}

/* Add padding to containers */
.login-container {
  padding: 1rem;
}
.email-login, .password-login{
  color: black;
  text-align: center;
}

/* The "Forgot password" text */
span.password {
  float: right;
  color: black;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.password {
    display: block;
    float: none;
  }
}

/* register form */
/* Full-width input fields */
.register-form {
  border: 3px solid #f1f1f1;
  margin: 1rem auto;
  width: 50%;
  background-color: white;
  padding: 1rem 0;
}

.sign-up-reg {
  text-align: center;
}

.register-container {
  padding: 0 1rem;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: 1px solid #ccc;
  background: white;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: rgb(238, 236, 236);
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
     width: 100%;
  }
}
