<div *ngIf="recipeList">
  <app-recipe-list-item *ngFor="let recipe of recipeList" [recipe]="recipe"></app-recipe-list-item>
  <div *ngIf="recipeList.length === 0">No Recipes!</div>
</div>
<div *ngIf="!recipeList">
  Loading...
</div>

<div class="recipes-container">

  <div *ngFor="let recipe of recipeList" class="recipe-card">
    <h3>{{recipe.title}}</h3>
    <img class="image-recipe" src="{{recipe.imageURL}}">
    <div class="ingr">{{recipe.ingredients}}</div>
    <div class="prep">{{recipe.preparation}}</div>
   
  </div>

</div>
