.login-form {
  border: 3px solid #f1f1f1;
  margin: 1rem auto;
  width: 50%;
  background-color: white;
  padding: 1rem 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
.submit-btn {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
  /* margin: 0.5rem 0 0.5rem 0; */
}

/* Avatar image */
img.avatar {
  width: 20%;
  border-radius: 50%;
}



.error {
  color: red;
}

/* Add padding to containers */
.login-container {
  padding: 1rem;
}
.email-login, .password-login{
  color: black;
  text-align: center;
}

/* The "Forgot password" text */
span.password {
  float: right;
  color: black;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.password {
    display: block;
    float: none;
  }
}
