body, p {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.back-image {
  width: 100%;
  height: auto;
  border-bottom: 2px solid orange;
}
.container-image {
  position: relative;
  text-align: center;
  color: white;
}
.text-back {
  position: absolute;
  top: 1rem;
  left: 4rem;
  color: rgb(64, 34, 92);
  width: 40%;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

a {
  color: orange;
  padding: 0.2em;
}

h3 {
  color: rgb(69, 37, 99);
  text-align: center;
  text-decoration: underline;
}

.rec-img {
  width: 80%;
  height: auto;
}
.title-our-recipes {
  color: rgb(236, 126, 75);
  font-size: 2rem;
  text-align: center;
  margin-top: 0.5rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.recipes-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  margin-top: 2em;
}

.recipe-card {
  width: 30%;
  margin-bottom: 2em;
  border: 2px solid orange;
}

.image-recipe {
  width: 80%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  margin: 1rem auto;
  display: block;
  background-color: rgb(69, 37, 99);
  color: white;
  cursor: pointer;
  border-color: rgb(69, 37, 99);
  border-radius: 0.2rem;
  padding: 0.4em;
}

@media screen and (max-width: 850px) {
  .text-back {
    width: 60%;
  }
  .rec-img {
    width: 80%;
    height: 50px;
    background-color: white;
  }

  .title-our-recipes {
    font-size: 1rem;
    margin-top: 0;
  }

  .recipes-container {
    margin-top: 0em;
  }
}
