<div class="main-container">
  <app-header></app-header>

  <section class="container-image">
    <img class="back-image" src="../../assets/back-1.jpg" alt="background My recipes" />
    <div class="text-back">
      <p class="title-our-recipes">Welcome!</p>
      <p>MY RECIPES е създадена, за да улесни хората при избора си на вкусни и атрактивни рецепти. Тук всеки може да
        разгърне потенциала си.</p>
        
      <div class="logged" *ngIf="!isLogged">
        <div class="not-logged">Ако все още не сте регистрирани може да го направите от тук: </div>

        <a routerLink="/register">
          REGISTER
        </a>

      </div>
    </div>
  </section>

  <div class="form-group">
    <label for="search-text">Search Text</label>
    <input type="email" class="form-control" id="search-text" aria-describedby="search-text" 
      [(ngModel)]="searchText" placeholder="Enter text to search" 
      autofocus>
  </div>

  <div class="recipes-container">

    <div *ngFor="let recipe of recipeList | filter: searchText" class="recipe-card">
      <h3>{{recipe.title}}</h3>
      <img class="image-recipe" src="{{recipe.imageURL}}">
      <button type="submit" routerLink="/recipes/detail/{{recipe.objectId}}" class="btn">Виж цялата рецепта</button>
    </div>

  </div>


  <app-footer></app-footer>
</div>
