<div class="recipe-container">
  <div class="recipe-name-wrapper">
    <div class="recipe-name">
      <a [routerLink]="['/recipe/detail', recipe._id]" class="normal">
        <h2>{{recipe.title}}</h2>
      </a>
      <div class="columns">
        <div class="img-box">
          <img src="{{recipe.imageURL}}">
        </div>
        <div class="products">Продукти:</div>
        <ul class="ingredients-box">
          <li *ngFor="let ingredient of recipe.ingredients">{{recipe.ingredients}}</li>
        </ul>
        <div class="prepMethod">Приготвяне:</div>
        <div class="description">{{recipe.preparation}}</div>
      </div>
    </div>
  </div>
</div>
